*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

body{
	font-size: 1em;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	background: #e6e6e6;
	width: 100vw;
}

#headerPagina{
	background: #f7b600;
	color: white;
	text-align: center;
	height: 105px;
	padding: 15px;
}

h1{
	padding:10px;
	font-size: 2.5em;
}

.tec{
	color: rgb(78,78,78);
}

#ulNav{
	text-decoration: none;
	padding: 10px;
	/*border: 1px solid green;	*/
}

.liNav{
	display: inline;
	/*padding: 10px;*/
	/*border: 1px solid red;*/
}

#ulNav>.liNav>a{
	padding: 10px;
	/*border: 1px solid blue;*/
}

#ulNav>.liNav>a:link , #ulNav>.liNav>a:visited{
	color: white;
}

#ulNav>.liNav>a:hover{
	background: rgba(255, 255, 255, 1);
	color: #f7b600;
	border-radius: 10px;
}

main, footer{
	width: 950px;
	margin: auto;
}

img{
	width: 100%;
}

.post{
	width: 615px;
	background-color: white;
	padding: 20px;
	margin: 15px;
	/*border: 1px solid yellow;*/
}

.headerPost{
	margin-bottom: 20px;
}

.post>header>h2 , .post>a:link , .post>a:visited{
	color: #f7b600;
}

a[title="Leia mais"]:hover{
	text-decoration: underline;
}

a[title="Leia mais"]{
	color: #f7b600;
}

.post>header>p{
	font-size: 0.8em;
}

footer{
	padding: 15px;
	background-color: #CCCCCC;
	text-align: center;
}

aside{
	/*width: 100%;*/
	background-color: white;
	padding: 10px;
	margin-bottom: 20px;
}

aside>h3{
	background-color: #CCCCCC;
	padding: 5px;
	color: #565656;
}

aside>article{
	padding: 5px;
	font-size: 0.8em;
}

.liAside{
	list-style-type: none;
}


main{
	position: relative;
	/*border: 1px solid red;*/
}

#asides{
	padding: 0;
	width: 235px;
	position: absolute;
	top: 0px;
	right: 15px;
	/*border: 1px solid red;*/
}
