/*FORMATAÇÕES GERAIS*/
*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #E6E6E6;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

nav>ul>li{
	list-style-type: none;
}

nav.inline>ul>li{
	display: inline;
}

a:link , a:visited{
	text-decoration: none;
	color: #F7B600;
}

a:hover{
	text-decoration: underline;
}

/*FORMATAÇÕES LAYOUT PRINCIPAL*/
body>header{
	background-color: #F7B600;
	text-align: center;
	padding: 15px;
}

body>main, body>footer{
	width: 920px;
	margin: 0 auto;
}

body>main{
	margin-top: 15px;
}

body>footer{
	background-color: #CCC;
	text-align: center;
	margin-bottom: 10px;
}

/*FORMATAÇÕES HEADER*/
header>h1{
	color: white;
	padding: 10px;
	font-size: 2.5em;
}

.tec{
	color: #4E4E4E;
}

header>nav{
	margin: 10px;
}

.headerNavUlLi>a:link , .headerNavUlLi>a:visited{
	color: white;
	padding: 8px 12px;
}

.headerNavUlLi>a:hover{
	background-color: white;
	color: #F7B600;
	border-radius: 10px;
	text-decoration: none;
}

/*FORMATAÇÕES MAIN*/

.post>img{
	width: 620px;
}
#areaPostagem{
	width: 660px;
	float: left;
}

.post{
	background-color: white;
	padding: 20px;
	margin-bottom: 20px;
}

.headerPost{
	margin-bottom: 20px;
}

.headerPost>h2{
	color: #F7B600;
}

.headerPost>p{
	font-size: 0.8em;
}
/*-----aside-----*/
#aside{
	float: right;
	width: 240px;
}

.asides{
	background-color: white;
	padding: 10px;
	margin-bottom: 20px;
}

.asides>h3{
	background-color: #CCC;
	padding: 5px;
	color: #565656;
}

#aside1>.secaoPost{
	font-size: 0.8em;
	padding: 5px;
}

/*FORMATAÇÕES FOOTER*/
footer{
	clear: both;
}

footer>p{
	padding: 15px;
}